<%= link_to("Back",:action=>"index",:class=>"index")%>

<div class="subjects delete">
<%= form_for(:subject, :url => {:action => 'destroy', :id => @subject.id}) do |f| %>

<h2>Are you want to delete this record ??</h2>
<p class="reference"><%=@subject.name%></p>
<div class="form-buttons">
<%=submit_tag("Delete subject")%>
</div>
<% end %>
</div>