<%= link_to("Back",:action=>"index",:class=>"index")%>

<div class="subjects show">
<h2>Create New Subject</h2>
<%= form_for(:subject,:url=>{:action=>'create'}) do |f| %>
<%= render(:partial=>"form",:locals=>{:f=>f})%>
<div class="form-buttons">
<%=submit_tag("create subject")%>
</div>
<% end %>
</div>